@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?545909dfce520fa24d0634f447fc8e7c") format("truetype"),
url("./flaticon.woff?545909dfce520fa24d0634f447fc8e7c") format("woff"),
url("./flaticon.woff2?545909dfce520fa24d0634f447fc8e7c") format("woff2"),
url("./flaticon.eot?545909dfce520fa24d0634f447fc8e7c#iefix") format("embedded-opentype"),
url("./flaticon.svg?545909dfce520fa24d0634f447fc8e7c#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-tour-guide:before {
    content: "\f101";
}
.flaticon-map:before {
    content: "\f102";
}
.flaticon-paragliding:before {
    content: "\f103";
}
.flaticon-destination:before {
    content: "\f104";
}
.flaticon-legs:before {
    content: "\f105";
}
.flaticon-beer:before {
    content: "\f106";
}
.flaticon-wave:before {
    content: "\f107";
}
